{% extends "frame.html"%}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doit</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1>Hello world</h1>
    <p>This is a simple HTML file.</p>
    <p>It contains a heading and a paragraph.</p>
  </body>
</html>
{% endblock content %}